.env
sensible_env.sh

*__pycache__*
*youtube*
*cookie*
*log*
config/fish/fundle

# TODO: Change when clean it
*/flavours_data/*
*dot-theme*

config/spicetify/CustomApps/spicetify-marketplace
config/spicetify/Extracted
config/spicetify/Backup
config/lvim/plugin/packer_compiled.lua

config/gtk-2.0
config/gtk-3.0
config/lvim/plugin/packer_compiled.lua
config/lvim/plugin/packer_compiled.lua
scripts/sort_image_log.txt
config/lvim/plugin/packer_compiled.lua