@import "./colors.scss";

/*------------------------------------------------------------------*/
/*                              Styles                              */
/*------------------------------------------------------------------*/

* {
  all: unset;
}

.bar {
  background-color: $background;
  padding: 0 1rem;
}

.picture {

}
